/* GLOBAL */
body { margin:0; font-family:Poppins, sans-serif; display:flex; background:#f5f7fa; transition:0.4s; }
.dark-mode { background:#0f172a; color:white; }


.theme-toggle { position:fixed; right:20px; top:20px; background:white; padding:10px; border-radius:50%; cursor:pointer; box-shadow:0 4px 12px rgba(0,0,0,0.2); }
.dark-mode .theme-toggle { background:#1e293b; color:white; }


/* SIDEBAR */
.sidebar { width:260px; background:#111827; color:white; height:100vh; padding:25px; position:fixed; box-shadow:3px 0 8px rgba(0,0,0,0.2); }
.logo { font-size:24px; margin-bottom:30px; font-weight:600; }


.menu { list-style:none; padding:0; }
.menu li { padding:12px; border-radius:8px; margin-bottom:8px; cursor:pointer; transition:0.2s; }
.menu li:hover { background:#1f2937; }
.arrow { transition:0.3s; }
.rotate { transform:rotate(180deg); }
.dropdown-content { display:none; padding-left:15px; }
.show { display:block; }


/* MAIN */
.main { margin-left:260px; padding:40px; width:calc(100% - 260px); }
.section { display:none; animation:fade 0.4s ease; }
.active { display:block; }


@keyframes fade { from {opacity:0;} to {opacity:1;} }


/* CARDS */
.cards { display:grid; grid-template-columns:repeat(auto-fit, minmax(220px,1fr)); gap:20px; }
.card { background:white; padding:20px; border-radius:14px; text-align:center; box-shadow:0 6px 18px rgba(0,0,0,0.1); transition:0.3s; }
.card:hover { transform:translateY(-6px); }
.dark-mode .card { background:#1e293b; color:white; }
.icon { font-size:28px; margin-bottom:10px; }


/* TEAM */
.team-grid { display:grid; grid-template-columns:repeat(auto-fit,minmax(240px,1fr)); gap:20px; }
.member-card { background:white; padding:25px; text-align:center; border-radius:12px; box-shadow:0 4px 12px rgba(0,0,0,0.1); }
.pop { animation:pop 0.4s ease; }
@keyframes pop { from {transform:scale(0.8);} to {transform:scale(1);} }
.dark-mode .member-card { background:#1e293b; color:white; }


/* PROFILE */
.profile-box { background:white; padding:25px; width:350px; border-radius:12px; box-shadow:0 4px 15px rgba(0,0,0,0.1); }
.slide { animation:slide 0.5s ease; }
@keyframes slide { from {transform:translateX(-30px);} to {transform:translateX(0);} }
.dark-mode .profile
